<style>
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;800&display=swap');
</style>
body{
    font-family: 'Poppins', sans-serif;
}


.nav-img-container a travel-home{
    color: #FF5400;
}
#text-color{
    color: #5A5A5D;
}

/* nav-container styles */
.nav-container{
    display: flex;
    border: 10px;
    justify-content: space-between;
    
}
.nav-img-container{
    width: 250px;
    display: flex;
    justify-content: space-between;
    text-align: center;
}
.nav-img-container a{
    align-items: center;
    color: #131318;
    font-family: Mulish;
    font-size: 36px;
    font-weight: 800;

}
.nav-taitel-container{
    display: flex;
    width: 500px;
    justify-content: space-between;
    align-items: center;

}
.travel-home{
    color: #FF5400;
}


/* <!-- Explore Your Travel stared-->  */
.explore-container{
    width: 100%vh;
    height: 100%vh;
}
.explore-container{
   
}
.explore-taitel{
    align-items: center;
    text-align: center;
    padding-top: 106px;
  
}
.ex-travel{
    align-items: center;
 
}
.explore-container{
    width: 1170px;
    height: 500px;
    background-image: url("../Images/Group\ 13\ \(1\)\ \(1\).png");
    background-repeat: no-repeat;
    background-size: cover;

   /*  position: absolute ;
    align-items: center; */
    

}

.explore-icons{
    align-self: center;
    justify-content: space-between;
    gap: 100px;
    text-align: center;

}.explore-icons{
    display: inline-flex;
    padding: 16px;
    align-items: flex-start;
    gap: 24px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
    margin-left: 185px; 
}
.whear-you-go .dropdown .select-type .find-now{
    width: 174px;
    height: 52px;
    border-radius: 8px;
    background: #ffffffd4;
}

/* popular-container styles */
.popular-container{
    display: flex;
   /*  width: 1170px;
    height: 1200px; */
    gap: 20px;
}
.popular-content{
    width: 540px;
    height: 550px;
}
.populare-text{
    color: #5A5A5D;
    font-size: 16px;
    height: 100px;
}
.explore-list{
    height: 150px;
}

.btn-primary{
    background-color: #FF5400;
    border-radius: 8px;
    width: 174px;
    height: 52px;
    color: aliceblue;
}
 .explore-hading{
    height: 50px;
    color: rgba(19, 19, 24, 0.70);
    font-family: Mulish;
    font-weight: 400;
    font-size: 16px;
}
/* Choose Your Destination styles */

.destination-teax-content{
    background-color: aqua;
    text-align: center;
}
.destination-images-l1{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 24px;
    column-gap: 24px;
}
.destination-images-l1{
    display: flex;
    position: relative absolute;
}
.destination-images-2{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 24px;
    column-gap: 24px;
}
.destination-images-3{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 24px;
    column-gap: 24px;
}

/* Deals & Discounts atyles */

.discounts-content{
    text-align: center;
}
.deales-discount-container div{
    gap: 24px;
}
.bg-images1{
    background-image: url("../Images/Group\ 39.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 1170px;
    height: 500px;
    padding-top: 6px;
    padding-left: 6px;
    padding-bottom: 50px;

}
.bg-images2{
    background-image: url("../Images/Group\ 40.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 1170px;
    height: 500px;
    padding-top: 56px;
    padding-left: 56px;
}
/* .bg-images3{
    background-image: url("../Images/Group\ 39.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 1170px;
    height: 500px;
} */
.discount-content{
    width: 579px;
    height: 389px;
    border-radius: 16px;
    border: 2px solid #FFF;
    background: rgba(255, 255, 255, 0.80);
    backdrop-filter: blur(2.5px);
    padding-top: 55px;
    padding-left: 50px;
    margin-top: 56px;
    margin-left: 480px;
}
.discount-content2{
    width: 579px;
    height: 389px;
    border-radius: 16px;
    border: 2px solid #FFF;
    background: rgba(255, 255, 255, 0.80);
    backdrop-filter: blur(2.5px);
    padding-top: 55px;
    padding-left: 50px;
}

.discount-day{
    display: flex;
    gap: 24px;
}
 






@media only screen and (max-width:600px) {
    .explore-container{
        width: 400px;
    }
    .explore-taitel {
        align-items: center;
        text-align: center;
        padding-top: 10px;
    }
    .explore-icons{
        flex-direction: column;
        
    }
    .whear-you-go .dropdown .select-type .find-now{
       /*  display: flex;
        gap: 10px; */
        flex-direction: column;
    }
    .popular-container{
        flex-direction: column;
    }
    .destination-images-l1, .destination-images-2, .destination-images-3{
        display: grid;
        grid-template-columns: repeat(1, 400px);
      
    }
    .bg-images2, .bg-images1 {
        width: 400px;
        height: 400px;
    }
    .discount-content, .discount-content2{
        width: 300px;
        height: 350px;
        margin: 5px 5px 5px 5px;
    }
   
}